.file-input{
  padding: 2px;
  background: #f8f8f8;
  margin-bottom: 20px;
}

.file-input > .text {
  outline: none;
  padding: 0px 10px;
  font-size: 15px;
  width: 230px;
  height: 46px;
  background:transparent;
  border: 0px solid;  
}